.App {
  font-family: 'Arial';
  display: flex;
  flex-direction: column;
  justify-content: center;
}


input[type="text"] {
  font-family: 'Arial';
  font-size: 18px;
  width: 400px;
  border: none;
  border-bottom: 0.8mm solid;
}

input[type="button"] {
  background-color: #f5ab6b;
  color: rgb(56, 56, 56);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

input[type="button"]:hover {
  background-color: #f8c596;
  border: none;
  color: rgb(56, 56, 56);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}




