.textAndButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
}

.checkBox {
    display: flex;
    justify-content: center;
    margin: 10px
}

.todolist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px;
}
